In [3]:
ls

README.md*              X_train_list.csv        merge_numpy_X.ipynb
Test_the_order.ipynb    Y_train.h5              merge_to_numpy_Y.ipynb
Try_one_input/          Y_train_L.csv           requirements.txt*
X_train.h5              Ytrain/                 tcn/

In [2]:
import pandas as pd
import numpy as np

In [7]:
X = pd.read_csv("X_train_list.csv", index_col = [0])
Y = pd.read_csv("Y_train_L.csv", index_col = [0])

In [8]:
X.head()

                0
0    train1-0.csv
1    train1-1.csv
2   train1-10.csv
3  train1-100.csv
4  train1-101.csv

In [9]:
Y.head()

                 0
0    answer1-0.csv
1    answer1-1.csv
2   answer1-10.csv
3  answer1-100.csv
4  answer1-101.csv

In [21]:
Y.loc[0:5]

                 0
0    answer1-0.csv
1    answer1-1.csv
2   answer1-10.csv
3  answer1-100.csv
4  answer1-101.csv
5  answer1-102.csv